<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= clickedRecipeDetails.title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/clicked_recipe_details.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-social.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 
</head>

<body>
    <button  onclick="goBack()">Back</button>
    <% if (locals.clickedRecipeDetails) { %>
        <div class = "clicked_recipe_details_container" id = "<%= 'clicked_recipe_details_id_' +clickedRecipeDetails._id  %>">
            <p><b>Recipe's title: </b><%= clickedRecipeDetails.title %></p>
            <p><img class = "clickedRecipeDetails_image" src = "<%= clickedRecipeDetails.added_image_url %>" alt ="<%= clickedRecipeDetails.title %>"></p>
            <p><b>Recipe's description: </b><%= clickedRecipeDetails.description %></p>
            <p><b>Recipe's preparation time: </b> <%= clickedRecipeDetails.prep_time %></p>
            <p><b>Recipe's cooking time: </b><%= clickedRecipeDetails.cook_time %></p>
            <p><b>Recipe's difficulty level: </b><%= clickedRecipeDetails.difficulty_level %></p>
            <p><b>Recipe's cuisine: </b><%= clickedRecipeDetails.cuisine %></p>
            <p><b>Recipe's visibility: </b><%= clickedRecipeDetails.visibility %></p>
            <p><b>Recipe's ingredients: </b><%= clickedRecipeDetails.ingredients %></p>
            <p><b>Recipe's instructions: </b><%= clickedRecipeDetails.instructions %></p>
            <p><b>Recipe's average_rating: </b><%= clickedRecipeDetails.average_rating %></p>
            <% if (locals.commentsDetails) { %>
              <p><button id = "clicked_recipe_details_comments_button" onclick="toggleComments()"><b>View all the comments</b></button></p>
              <div id="clicked_recipe_details_comments_section" style="display: none;">
                <% for(var i = 0; i < commentsDetails.length; i++) { %>
                  <div id="<%= 'clicked_recipe_comments_display_' + commentsDetails[i]._id %>" class="clicked_recipe_comments_display">
                    <div class = "clicked_recipe_comments_display_username_and_time_container"> 
                      <p><%= commentsDetails[i].username %></p>
                      <p id ="<%='clicked_recipe_comments_display_timestamp_'+ commentsDetails[i]._id %>"><%= commentsDetails[i].timestamp %></p>
                    </div>
                    <p><%- commentsDetails[i].content %></p>
                    <div class = "clicked_recipe_comments_like_and_reply_container">
                        <div class = "clicked_recipe_comments_like_container">
                          <button type = "button">Like</button>
                          <p><%= commentsDetails[i].likes %></p>
                        </div>
                        
                        <div class = "clicked_recipe_comments_reply_container">
                          <button type = "submit" onclick="addReplyBox(this)">Reply</button>
                          <p><%= commentTotalRepliesCount %></p>
                        </div>   
                    </div>
                    <p><button id = "<%='clicked_recipe_comments_view_replies_button_' + commentsDetails[i]._id %>" onClick = "toggleReplies(this)">View the replies</button></p>
                    <div class = "clicked_recipe_specific_comment_reply_box_quill_box">
                      <div class = "clicked_recipe_specific_comment_reply_box_quill_tools_and_textbox " >
                        <div class = "clicked_recipe_specific_comment_reply_quill_editor"></div>
                      </div>  
                      <div class="input-group-append">
                        <button type="submit" onclick="addReplyToComments(this)" class="clicked_recipe_comments_enter_button"> <i class="fas fa-arrow-right"></i></button>
                      </div>
                    </div>
                    <div class = "clicked_recipe_comment_reply_section" id = "<%='clicked_recipe_comment_reply_section_'+ commentsDetails[i]._id %>">
                      <% for (var j = 0; j < commentsDetails[i].replies.length; j++) { %>
                        <div id = "<%= 'clicked_recipe_comment_reply_id_'+ commentsDetails[i].replies[j]._id %>" class = "clicked_recipe_comment_reply">
                          <div class = "clicked_recipe_comment_reply_username_and_time_container">
                            <p><%=commentsDetails[i].replies[j].username %></p>
                            <p id ="<%='clicked_recipe_comment_reply_timestamp_'+ commentsDetails[i].replies[j]._id %>"><%= commentsDetails[i].replies[j].timestamp%></p>
                          </div>
                          <p><%- commentsDetails[i].replies[j].content %></p>
                          <div class = "clicked_recipe_comment_like_and_reply_container">
                            <div class = "clicked_recipe_comment_like_container">
                              <button type = "submit" onClick = "addLike()">Like</button>
                              <p><%= commentsDetails[i].replies[j].likes %></p>
                            </div>
                            
                            <div class = "clicked_recipe_comment_reply_container">
                              <button type = "submit" onclick="addReplyBox(this)">Reply</button>
                              <p><%= commentsDetails[i].commentTotalRepliesCount %></p>
                            </div>
                          </div>
                        </div>
                        <div class = "clicked_recipe_specific_comment_reply_box_quill_box">
                          <div class = "clicked_recipe_specific_comment_reply_box_quill_tools_and_textbox " >
                            <div class = "clicked_recipe_specific_comment_reply_quill_editor"></div>
                          </div>  
                          <div class="input-group-append">
                            <button type="submit" onclick="addReplyToExistingReply()" class="clicked_recipe_comments_enter_button"> <i class="fas fa-arrow-right"></i></button>
                          </div>
                        </div>
                       <%} %>
                    </div>  
                    </div>
                <% } %>  
              </div>
            <% } %>
           <div class = "input-group mb-4 home_page_after_login_search_div">
              <div class="quill_editor_tools_and_textbox">
                <div id ="editor"> </div>
              <!--- <textarea  placeholder="Add your comments here" name="clicked_recipe_comments_textarea" rows="1" cols="116" id="clicked_recipe_comment_textarea"></textarea> -->
              </div>  
              <div class="input-group-append">
                <button type="submit" onclick="addComments()" class="clicked_recipe_comments_enter_button"> <i class="fas fa-arrow-right"></i></button>
              </div>
           </div>  
        </div>
        
    <% } %>    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
<script>
    let quill;
    let quillInstanceForCommentReply;
    document.addEventListener('DOMContentLoaded', function() {
            quill = new Quill("#editor", {
                theme: "snow"
          });
      });  
    
      document.addEventListener('DOMContentLoaded', function() {
            quillForAddingReplyToComments = new Quill(".clicked_recipe_specific_comment_reply_quill_editor", {
                theme: "snow"
          });
      });  

    function addReplyBox(button){
        if (!button) {
          console.error('Button not defined');
          return;
      }
      const replyBox = button.closest('.clicked_recipe_comments_display').querySelector('.clicked_recipe_specific_comment_reply_box_quill_box');
        if (replyBox) {
          if (replyBox.style.display !== "flex") {
              replyBox.style.display = "flex";
          } else {
              console.log('Reply box is already visible');
          }
        } else {
            console.error('Reply box not found');
        }
    }

    function addReplyToComments(button){

      const commentsContainer = button.parentElement.parentElement.parentElement;
      console.log(commentsContainer);
      var commentId = commentsContainer.id.split("_")[4];
      var clickedRecipeDetailsId = document.querySelector('[id^="clicked_recipe_details_id_"]').id.split("_");
      var clickedRecipeDetailsIdSplit = clickedRecipeDetailsId[4];
      var addedCommentReplyText = quillForAddingReplyToComments.root.innerHTML;

      console.log(addedCommentReplyText);
        $.ajax({
            type: "POST",
            url: "/clicked-recipe-comment-reply/" +  commentId,
            data: {  commentReplyText: addedCommentReplyText, clickedRecipeDetailsIdSplit: clickedRecipeDetailsIdSplit },
            success: function (response) {
                console.log("Response is:", response);
                window.location.href = "/clicked-recipe/" + clickedRecipeDetailsIdSplit;
            },  
            error: function (error) {
                console.error("Error is:", error);
            }
        });
      }
         
      function goBack(){
        $.ajax({
          type: "GET",
          url: "/myRecipes",
          success: function (response) {
            console.log("Response is:", response);
            window.location.href = "/myRecipes";
          },  
          error: function (error) {
            console.error("Error is:", error);
          }
        });
    }
    function addComments(){
      var clickedRecipeDetailsId = document.querySelector('[id^="clicked_recipe_details_id_"]').id.split("_");
      var clickedRecipeDetailsIdSplit = clickedRecipeDetailsId[4];
      var addedCommentText = quill.root.innerHTML;

      console.log(addedCommentText);
     
      $.ajax({
          type: "POST",
          url: "/clicked-recipe-comments/" + clickedRecipeDetailsIdSplit,
          data: { CommentText: addedCommentText },
          success: function (response) {
            console.log("Response is:", response);
            window.location.href = "/clicked-recipe/" + clickedRecipeDetailsIdSplit;
          },  
          error: function (error) {
            console.error("Error is:", error);
          }
        });
    }

    function toggleComments(){
      var commentsSection = document.getElementById("clicked_recipe_details_comments_section");
        if (commentsSection.style.display === "none") {
            commentsSection.style.display = "block";
            document.getElementById("clicked_recipe_details_comments_button").innerText= "Hide the comments";
        } else {
            commentsSection.style.display = "none";
            document.getElementById("clicked_recipe_details_comments_button").innerText= "View all the comments";
        }
    }

    function toggleReplies(button){
      var commentToBeRepliedToId = button.id.split("_")[6];
      console.log(commentToBeRepliedToId);
      var replySection = document.getElementById("clicked_recipe_comment_reply_section_" + commentToBeRepliedToId);
      console.log(replySection);
      if (replySection.style.display === "none"){
        replySection.style.display = "flex";
        button.innerText = "Hide the replies";
      } else {
        replySection.style.display = "none";
        button.innerText = "View the replies";
      }
    }

    function formatTimeAgo(timestamp) {
      const currentTime = new Date();
      const commentTime = new Date(timestamp);
      console.log(typeof(timestamp));
      console.log(`currentTime ${currentTime}`);
      console.log(`commentTime ${commentTime}`);
      const timeDifference = currentTime - commentTime;
      console.log(timeDifference);
      const seconds = Math.floor(timeDifference / 1000);
      const minutes = Math.floor(seconds / 60);
      const hours = Math.floor(minutes / 60);
      const days = Math.floor(hours / 24);

      if (days > 0) {
          return days === 1 ? "1 day ago" : `${days} days ago`;
      } else if (hours > 0) {
          return hours === 1 ? "1 hour ago" : `${hours} hours ago`;
      } else if (minutes > 0) {
          return minutes === 1 ? "1 minute ago" : `${minutes} minutes ago`;
      } else {
          return "Just now";
      }
    }

    window.onload = function() {
        // Get the paragraph element
        var timestampParagraphs = document.querySelectorAll('[id^="clicked_recipe_comments_display_timestamp_"]');

        var timestampRepliesParagraphs = document.querySelectorAll('[id^="clicked_recipe_comment_reply_timestamp_"]');
        // Call the formatData function and set the innerHTML of the paragraph to the formatted data
        for (var i = 0; i < timestampParagraphs.length; i ++){
          timestampParagraphs[i].innerHTML = formatTimeAgo(timestampParagraphs[i].innerText);
        }
        for (var i = 0; i < timestampRepliesParagraphs.length; i ++){
          timestampRepliesParagraphs[i].innerHTML = formatTimeAgo(timestampRepliesParagraphs[i].innerText);
        }
        
    };

</script>
</html>